.nav-toggle {
  position: relative;
  z-index: 1;
  display: none;
  background: none;
  border: 0;
  padding: 9px 1px;
  cursor: pointer;
}

.nav-toggle:focus {
  outline: none;
}

.nav-toggle__item {
  width: 30px;
  height: 3px;
  background: #bb9c66;
  display: block;
  font-size: 0;
  color: transparent;
  position: relative;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  background: #bb9c66;
  position: absolute;
  right: 0;
  z-index: 1;
}

.nav-toggle__item:before {
  top: -8px;
}

.nav-toggle__item:after {
  bottom: -8px;
}

.nav-toggle._active .nav-toggle__item {
  background: none;
}

.nav-toggle._active .nav-toggle__item:before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotate(45deg) translateX(-3px);
  -ms-transform: rotate(45deg) translateX(-3px);
  transform: rotate(45deg) translateX(-3px);
}

.nav-toggle._active .nav-toggle__item:after {
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate(-45deg) translateX(-3px);
  -ms-transform: rotate(-45deg) translateX(-3px);
  transform: rotate(-45deg) translateX(-3px);
}

@font-face {
  font-family: "BravoRGRegular";
  font-display: swap;
  src: url("../fonts/BravoRGRegular.woff") format("woff"), url("../fonts/BravoRGRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "pfdintextcondpro-medium";
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-medium.woff") format("woff"), url("../fonts/pfdintextcondpro-medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "pfdintextcondpro-regular";
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-regular.woff") format("woff"), url("../fonts/pfdintextcondpro-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ceremonious_one";
  font-display: swap;
  src: url("../fonts/ceremonious_one.woff") format("woff"), url("../fonts/ceremonious_one.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSans-Bold";
  font-display: swap;
  src: url("../fonts/PTSans-Bold.woff") format("woff"), url("../fonts/PTSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PTSans-Regular";
  font-display: swap;
  src: url("../fonts/PTSans-Regular.woff") format("woff"), url("../fonts/PTSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.global-wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "PTSans-Regular";
  font-size: 15px;
  color: #333333;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: PlayfairDisplay;
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.burger {
  width: 40px;
  height: 40px;
  display: none;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.burger.active span {
  background-color: transparent;
}

.burger > span {
  display: block;
  position: relative;
  width: 90%;
  height: 5px;
  margin: 6px auto;
  background-color: #fff;
  border-radius: 10px;
}

.burger > span#sp1 {
  -webkit-transition: all 0.3s 0.5s;
  transition: all 0.3s 0.5s;
}

.burger > span#sp2 {
  -webkit-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
}

.burger > span#sp3 {
  -webkit-transition: all 0.3s 0.1s;
  transition: all 0.3s 0.1s;
}

.burger.active > span#sp2 {
  background-color: #fff;
  -webkit-transform: translateY(0) rotateZ(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotateZ(45deg);
  -webkit-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
}

.burger.active > span#sp3 {
  background-color: #fff;
  -webkit-transform: translateY(-11px) rotateZ(-45deg);
  -ms-transform: translateY(-11px) rotate(-45deg);
  transform: translateY(-11px) rotateZ(-45deg);
  -webkit-transition: all 0.3s 0.5s;
  transition: all 0.3s 0.5s;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  min-height: 90px;
  background: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo span {
  font-family: PlayfairDisplay;
  background: -webkit-gradient(linear, left top, right top, color-stop(1.26%, rgba(58, 59, 62, 0.68)), color-stop(52.69%, #ffffff), to(#3a3b3e)), -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#000));
  background: linear-gradient(90deg, rgba(58, 59, 62, 0.68) 1.26%, #ffffff 52.69%, #3a3b3e 100%), linear-gradient(0deg, #ffffff, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
  -webkit-text-stroke: 1px #fff;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
}

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-menu-list__item + .header-menu-list__item {
  margin-left: 32px;
}

.header-menu-list__link {
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  position: relative;
}

.header-menu-list__link:after {
  content: " ";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 3px;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.header-menu-list__link:hover:after {
  width: 100%;
}

.header-menu-list__link_btn:after {
  display: none;
}

.wave-btn {
  width: 155px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  font-size: 16px;
  position: relative;
}

.wave-btn:hover {
  border-radius: 10px;
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
  -webkit-box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
  box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}

.wave-btn:hover .wave-btn__waves {
  top: -50px;
}

.wave-btn__text {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 1;
}

.wave-btn__waves {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 280px;
  background: #4973ff;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.wave-btn__waves:before,
.wave-btn__waves:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 250%;
  height: 250%;
  -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.wave-btn__waves:before {
  background: #000;
  border-radius: 48%;
  -webkit-animation: waves 5s infinite linear;
  animation: waves 5s infinite linear;
}

.wave-btn__waves:after {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 44%;
  -webkit-animation: waves 10s infinite linear;
  animation: waves 10s infinite linear;
}

@-webkit-keyframes waves {
  0% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }

  100% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}

@keyframes waves {
  0% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }

  100% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}

.intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100vh;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
}

.intro__wrapper:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(18.78%, #000000), color-stop(98.53%, rgba(0, 0, 0, 0)));
  background: linear-gradient(360deg, #000000 18.78%, rgba(0, 0, 0, 0) 98.53%);
}

.intro__inner {
  position: relative;
  padding-bottom: 56.25%;
  height: 100%;
  width: 100%;
}

.intro__media {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 100vh;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.intro__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 50px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.intro__suptitle {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #c0c0c0;
  font-size: 14px;
  margin-bottom: 10px;
}

.intro__title {
  font-size: 54px;
  line-height: 109%;
  color: #ffffff;
}

.intro__description {
  font-size: 17px;
  line-height: 147%;
  margin-top: 18px;
  color: #c0c0c0;
  max-width: 580px;
  margin: 25px auto 0 auto;
  font-style: italic;
}

.actions-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 35px;
}

.actions-intro__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.actions-intro__item + .actions-intro__item {
  margin-left: 16px;
}

.actions-intro__title {
  margin-left: 6px;
  font-size: 12px;
  color: #ffffff;
}

.gallery {
  background: #000;
  padding: 100px 0;
}

.gallery__head {
  text-align: center;
}

.gallery__title {
  font-size: 40px;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 15px;
  -webkit-transform: translate(0px, 120%);
  -ms-transform: translate(0px, 120%);
  transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.gallery__title.active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.gallery__suptitle {
  font-size: 23px;
  line-height: 30px;
  color: #c0c0c0;
  -webkit-transform: translate(0px, 120%);
  -ms-transform: translate(0px, 120%);
  transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.gallery__suptitle.active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

.gallery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 12px -15px 0;
}

.gallery__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.33333%;
  flex: 0 1 33.33333%;
  padding: 0 15px;
  margin-top: 30px;
  -webkit-transform: translate(-120%, 0px);
  -ms-transform: translate(-120%, 0px);
  transform: translate(-120%, 0px);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.gallery__column.active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.gallery__column.active:nth-child(1) {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.gallery__column.active:nth-child(2) {
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.gallery__column.active:nth-child(3) {
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

.gallery__column.active:nth-child(4) {
  -webkit-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s;
}

.gallery-item {
  position: relative;
  display: block;
  overflow: hidden;
}

.gallery-item:hover .gallery-btn {
  background: #000;
  color: #fff;
}

.gallery-item:hover .gallery-btn:before {
  background: #fff;
}

.gallery-item__img {
  width: 100%;
  display: block;
}

.gallery-item__img img {
  display: block;
  max-width: 100%;
}

.gallery-item__content {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 100%;
  z-index: 5;
}

.gallery-item__title {
  font-size: 22px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.gallery-item__description {
  font-size: 17px;
  line-height: 20px;
  color: #c0c0c0;
  margin: 15px 0 20px;
  max-width: 505px;
}

.gallery-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 0 10px;
  min-height: 40px;
  font-size: 15px;
  letter-spacing: 0.4px;
  color: #000000;
  background: #ffffff;
  border-radius: 14px;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  position: relative;
}

.gallery-btn:before {
  content: " ";
  display: block;
  width: 32px;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  height: 32px;
  background: #000000;
  border-radius: 50%;
  margin-right: 7px;
}

.no-webp .no-webp .leafs {
  background: url("../img/gallery/AnyConv.com__8.jpg") center/cover no-repeat fixed; }

.leafs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
}

.leafs__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.leafs__title {
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
}

.leafs__description {
  font-size: 24px;
  line-height: 32px;
  color: silver;
  max-width: 388px;
}

.leafs__actions {
  position: absolute;
  bottom: 40px;
  right: 30px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer {
  background: #000;
  padding: 25px 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.footer__title {
  text-align: center;
  font-size: 40px;
  color: #fff;
}

.footer__copy {
  font-size: 14px;
  color: #c0c0c0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social__item + .footer-social__item {
  margin-left: 20px;
}

.footer-social__link img {
  width: 24px;
  height: 24px;
}

.global-wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  color: #fff;
  font-size: 16px;
  margin: 0;
  font-family: Poppins;
  font-weight: 400;
}

body.lock {
  overflow: hidden;
}

html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0 0 4px;
}

.popup {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 10000;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: perspective(0) translate(0, 0) rotateX(0);
  transform: perspective(0) translate(0, 0) rotateX(0);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0, -100%) rotateX(45deg);
  transform: perspective(600px) translate(0, -100%) rotateX(45deg);
}

.popup__content_image {
  padding: 0;
}

.popup__image img {
  max-width: 100%;
  vertical-align: top;
}

.popup__close {
  position: absolute;
  right: 10px;
  font-size: 20px;
  top: 10px;
  color: #000;
}

.popup__title {
  font-size: 40px;
  margin-bottom: 1em;
}

.popup img {
  max-width: 100%;
  width: 300px;
}

.leafs {
  min-height: 100vh;
}

.no-webp .webp .leafs {
  background: url(../img/gallery/AnyConv.com__8.jpg) center/cover no-repeat; }

@media (min-width: 768px) {
  .header__inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) and (min-height: 800px) {
  .gallery__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .gallery-item {
    max-height: 585px;
    min-height: 585px;
  }
}

@media (max-width: 1100px) {
  .gallery-item__title {
    font-size: 21px;
  }

  .gallery-item__description {
    max-width: 250px;
  }
}

@media (max-width: 991.98px) {
  .gallery__column {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 1 50% !important;
    flex: 0 1 50% !important;
  }
}

@media (max-width: 830px) and (max-height: 400px) {
  .intro__wrapper {
    min-height: 315px !important;
  }
}

@media (max-width: 767px) {
  .nav-toggle {
    display: block;
    margin-left: 25px;
  }

  .container {
    max-width: none;
  }
}

@media (max-width: 767.98px) {
  .burger {
    display: block;
    margin-right: 15px;
  }

  .header__logo {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .header-menu-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background: #4973ff;
    width: 100%;
    padding: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .header-menu-list.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .header-menu-list__item + .header-menu-list__item {
    margin-left: 0;
    margin-top: 15px;
  }

  .header-menu-list__link {
    font-size: 23px;
  }

  .wave-btn {
    font-size: 16px;
  }

  .intro__title {
    font-size: 40px;
  }

  .gallery__column {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 1 100% !important;
    flex: 0 1 100% !important;
    max-width: 500px;
    margin: 25px auto 0;
  }

  .gallery-item__img img {
    width: 100%;
  }
}

@media (max-width: 479.98px) {
  .intro__title {
    font-size: 36px;
  }
}

@media (max-width: 405px) {
  .header__logo span {
    font-size: 20px;
  }

  .wave-btn {
    width: 130px;
  }

  .wave-btn__text {
    letter-spacing: 3px;
  }
}

@media (max-height: 515px) {
  .intro__wrapper {
    min-height: 515px;
  }
}

@media (max-height: 767.98px) {
  .gallery {
    padding: 0 0 50px;
  }
}

@media (max-height: 1275px) {
  .gallery__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.33333%;
    flex: 0 1 33.33333%;
  }

  .gallery-item {
    max-height: 300px;
    min-height: 300px;
  }
}

.webp .no-webp .leafs { background: url(../img/gallery/AnyConv.com__8.webp) center/cover no-repeat fixed; }

.webp .webp .leafs { background: url(../img/gallery/AnyConv.com__8.webp) center/cover no-repeat; }